html, body {
  overflow: hidden;
}
.home {
  .content {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    text-align: center;
    // color: white;
    padding-top: 1rem;
    .home-logo {
      width: 220px;
      border-radius: 50%;
      animation: mylogo 3s;
      -moz-animation: mylogo 3s; /* Firefox */
      -webkit-animation: mylogo 3s; /* Safari and Chrome */
      -o-animation: mylogo 3s; /* Opera */
      animation-iteration-count: infinite;
    }
    .home-header {
      .link {
        display: inline-block;
      }
    }
    .home-body {
      // margin-top: 1rem;
      padding-top: .1rem;
      .list {
        position: relative;
        margin-top: .1rem;
        z-index: 1000;
        .link {
          display: inline-block;
          padding: 20px;
          color: rgb(64, 158, 255);
          min-width: 80px;
        }
        .link:hover {
          color: rgb(0, 128, 255);
        }
      }
    }
    .introduce{
      color: #960026;
      // color: #fff;
    }
  }
}

@keyframes mylogo {
  0% {
    transform: rotate(0deg) scale(0.8, 0.8);
    opacity: 1;
  }
  25% {
    transform: rotate(0deg) scale(1, 1);
    opacity: 0.8;
  }
  100% {
    transform: rotate(0deg) scale(0.8, 0.8);
    opacity: 1;
  }
}


/* 背景动画css */
svg {
  display: block;
  margin: 0 auto;
}

path {
  stroke: #f7b500;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#particule-wrapper {
  position: relative;
  width: 30%;
  max-width: 500px;
  margin: 20px auto;
  transform: translateX(20%);
  
  .particule {
    position: absolute;
    top: 50%;
    left: 50%;
    width: .1rem;
    height: .1rem;
    margin: -.5rem 0 0 -.5rem;
    border: 1px solid currentColor;
    transform: scale(0);
  }
}


