@charset "utf-8";
/* reset */
body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
}
body {
  width: 100%;
  height: 2134px;
  font-size: 12px;
  font-family: "微软雅黑";
  position: relative;
}
/* end reset */
/*页头导航开始*/
body {
  background: url(../img/body1.jpg ) repeat-X, url(../img/body2.jpg ) repeat-X bottom;
}
#nav {
  width: 553px;
  height: 60px;
  margin: 0px auto;
  background: url(../img/topbg.png) no-repeat;
}
#nav ul {
  width: 360px;
  height: 45px;
  line-height: 45px;
  margin: 0px auto;
}
#nav ul li {
  height: 45px;
  float: left;
  font-size: 14px;
  color: #00ace3;
}
#nav ul li a {
  color: #00ace3;
}
#nav ul li a:hover {
  color: #f9f9f9;
}
#nav ul li span {
  text-align: right;
  margin: 0px 33px;
}
#nav .kx {
  width: 140px;
  height: 32px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 999;
  background: url(../img/a.png) no-repeat 0px -120px;
  display: block;
}
#nav .kx:hover {
  background-position: 0px -80px;
}
/*页头导航结束*/
/*工作经验开始*/
#per {
  width: 610px;
  height: 500px;
  margin: 60px auto 0px;
}
#per .photo {
  width: 122px;
  height: 122px;
  background: url(../img/circle1.png) no-repeat;
  border-radius: 50%;
  margin: 0px auto;
}
#per .photo:hover {
  -webkit-animation: 8s show infinite;
  -moz-animation: 8s show infinite;
  -o-animation: 8s show infinite;
  -ms-animation: 8s show infinite;
  animation: 8s show infinite;
}
#per .photo img {
  width: 90px;
  height: 90px;
  border: 5px solid #00ace3;
  border-radius: 50%;
  margin: 11px 0px 0px 11px;
}
#per .name {
  width: 610px;
  height: 50px;
  font-size: 30px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-family: "宋体";
}
#per .tel {
  width: 610px;
  height: 257px;
  background: url(../img/infobg.png) no-repeat;
  color: #00ace3;
  padding-top: 45px;
}
#per .tel ul {
  width: 470px;
  height: 177px;
  margin-left: 120px;
}
#per .tel ul li {
  width: 230px;
  height: 30px;
  float: left;
  font-size: 14px;
}
#per .tel ul li span {
  color: #fff;
}
/*工作经验结束*/
/*项目经验开始*/
@keyframes show {
  15% {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  25% {
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
  35% {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  45% {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  55% {
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  65% {
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    transform: rotate(-70deg);
  }
  75% {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
  }
  85% {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
#exp {
  width: 800px;
  margin: 0px auto;
}
.title {
  width: 262px;
  height: 86px;
  margin: 0px auto;
  background: url(../img/title.png);
  color: #fff;
  line-height: 86px;
  text-align: center;
  font-size: 20px;
}
#exp .ect {
  width: 800px;
  margin-top: 10px;
}
#exp .ect li {
  width: 250px;
  height: 275px;
  float: left;
  position: relative;
  margin-top: 40px;
}
#exp .ect li .xz {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 25px;
  top: 0px;
}
#exp .ect li .cir2 {
  width: 176px;
  height: 176px;
  background: url(../img/circle2.png) no-repeat center;
  background-size: cover;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  margin: 12px auto 0px;
}
#exp .ect li .img,
#exp .ect li .show {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 20px;
}
#exp .ect li .show {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
#exp .ect li .show:hover {
  box-shadow: inset 0px 0px 70px #00ace3;
}
#exp .ect li .img img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
#exp .ect li .xz:hover .cir2 {
  -webkit-animation: 8s show infinite;
  -moz-animation: 8s show infinite;
  -o-animation: 8s show infinite;
  -ms-animation: 8s show infinite;
  animation: 8s show infinite;
}
#exp .ect li .txt {
  width: 250px;
  height: 60px;
  text-align: center;
  color: #fff;
  font-family: '宋体';
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#exp .ect li .txt1 {
  font-size: 18px;
}
#exp .ect li .txt2 {
  font-size: 14px;
  color: #00ace3;
}
/*项目经验结束*/
/*遮罩层*/
#mask {
  width: 100%;
  height: 2134px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}
#case {
  width: 524px;
  position: fixed;
  left: 35%;
  top: 30%;
  background: url(../img/alert1.png) no-repeat, url(../img/alert2.png) no-repeat bottom;
  display: none;
  z-index: 22;
}
#case ul li {
  display: none;
}
#case ul li.hover {
  display: block;
}
#case .content {
  width: 472px;
  padding: 0px 25px;
  border-left: 1px solid #00a9e0;
  border-right: 1px solid #00a9e0;
  margin: 48px 0px 28px 0px;
  background: #1b1325;
}
#case .content .caseImg {
  width: 472px;
  height: 90px;
}
#case .content .caseImg img {
  width: 150px;
  height: 90px;
  margin-right: 4px;
}
#case .content .caseTxt {
  width: 472px;
  margin-top: 5px;
  color: #00a9e0;
  font-size: 14px;
  line-height: 23px;
}
#case .content .caseTxt span {
  color: #fff;
}
#case .content .caseTxt span.bbb {
  width: 400px;
  float: right;
}
#case .content .caseTxt a {
  color: #00a9e0;
}
#case .content .caseTxt a .link {
  width: 13px;
  height: 13px;
  display: inline-block;
  background: url(../img/link.png) no-repeat;
}
#case .content .caseTxt a:hover {
  color: #ff33ff;
}
#case .close {
  width: 14px;
  height: 13px;
  background: url(../img/close.png) no-repeat;
  position: absolute;
  right: 10px;
  top: 25px;
  cursor: pointer;
}
/*遮罩层*/
/*页底工作经历开始*/
#footer {
  width: 800px;
  height: 625px;
  margin: 50px auto 0px;
  position: relative;
}
#footer .box {
  width: 400px;
  height: 462px;
  border-right: 4px solid #00ace3;
  margin-top: 77px;
}
#footer .box .text {
  width: 412px;
  margin-bottom: 10px;
}
#footer .box .text i {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  background: #00ace3;
  display: block;
  border-radius: 50%;
  margin-top: 40px;
}
#footer .box .text:nth-of-type(2n-1) {
  margin-left: 390px;
}
#footer .box .text:nth-of-type(2n) {
  margin-left: 0px;
}
#footer .box .text:nth-of-type(2n-1) i {
  float: left;
}
#footer .box .text:nth-of-type(2n) i {
  float: right;
}
#footer .box .text .title2 {
  width: 264px;
  height: 35px;
  background: url(../img/title2.png) no-repeat;
  margin: 0px auto;
  padding: 30px 40px;
  color: #fff;
}
#footer .box .text .bg3 {
  width: 303px;
  background: url(../img/bg3.png) no-repeat left bottom;
  margin: 0px auto;
  padding-bottom: 14px;
}
#footer .box .text .title2 .img {
  width: 40px;
  height: 40px;
  float: left;
}
#footer .box .text .title2 .img img {
  width: 40px;
  height: 40px;
}
#footer .box .text .title2 .name {
  font-size: 14px;
  margin-left: 5px;
  float: left;
  line-height: 20px;
}
#footer .box .text .title2 .name .time {
  color: #00ace3;
  font-size: 12px;
}
#footer .box .text .bg3 .ms {
  width: 271px;
  border-left: 1px solid #00ace3;
  border-right: 1px solid #00ace3;
  background: #1b1325;
  padding: 15px;
}
#footer .box .text .bg3 .ms .ms1 {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
}
#footer .box .text .bg3 .ms .ms2 {
  color: #00ace3;
  font-size: 14px;
  line-height: 20px;
}
